body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}


header {
	height: 40px;
	background: #CCC;
}

.header-constraint {
	margin: 0 7px;
	padding: 5px 0;
}

header h2 {
	margin: 0;
}


article {
	width: 300px;
	height: 190px;
	margin: 14px 7px 0;
	float: left;
}

article h2 {
	font-size: 12px;
}