body {
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.bold {
	font-weight: bold;
}

.fixed {
	position: fixed;
}

.fixed-menu-wrapper.fixed{
	top:0;
}

.scroll-to-top.fixed{
	top: 50px;
}

.none {
	display: none;
}

noscript {
	margin-bottom: 500px;
	display: block;
	background-color: #FDFAD5;
	padding: 20px;
	width: 650px;
	border-radius: 6px;
	color: #575757;
	text-align: center;
}

header {
	height: 30px;
	border-bottom: 1.5px solid #B7B7B7;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	
	background-color: #0A5F9B;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: -moz-linear-gradient(top,  rgba(10,95,155,0.93) 0%, rgba(10,95,155,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(10,95,155,0.93)), color-stop(100%,rgba(10,95,155,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(10,95,155,0.93) 0%,rgba(10,95,155,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(10,95,155,0.93) 0%,rgba(10,95,155,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(10,95,155,0.93) 0%,rgba(10,95,155,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(10,95,155,0.93) 0%,rgba(10,95,155,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed0a5f9b', endColorstr='#0a5f9b',GradientType=0 ); /* IE6-9 */
}

.width-constraint {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1200px;
}

header h2 {
	font-size: .9em;
	color: #DDDDDD;
	line-height: 1.7em;
	margin: 0;
	font-family: 'Lucida Sans', Arial, sans-serif;
	font-weight: normal;
}

.content-wrapper {
	overflow: hidden;
	margin-top: 30px;
	clear:both;
}

/* graphics-container */

.sort-by {
	float: right;
	display: none;
}

.main-content {
	margin-left: 220px;
	overflow:hidden;
}

.graphics-wrapper {
	overflow:auto;
	clear: both;
	min-width: 575px;
}

a:hover .graphics-image {
	border-color: rgb(134, 197, 255);
}

.graphics-image {
	border: 1px solid #CCC;
	border-top-color: #EEE;
	border-left-color: #EEE;
}

.image-wrapper {
	position: relative;
	height: 150px;
	max-width: 250px;
	background: #CCC;
}

.inner-graphics-wrapper {
	max-width: 252px;
}

article {
	min-width: 250px;
	float: left;
	width: 33%;
	-moz-box-sizing: border-box;  /* starting from ie8 */
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	height: 225px;
}

@media (min-width: 1200px) {
  article {
  	width:33%;
  }
}

@media (min-width: 600px) and (max-width: 1050px) {
  article {
  	width:50%;
  }
}

article h2 {
	font-size: 13px;
	line-height: 1.2em;
	margin: 8px 0;
	min-height: 20px;
	padding-left: 25px;
	color: #555555;
	font-weight: 400;
}

article h2 span {
	padding-top: 3px;
	display: inline-block;
}

.favicon {
	background-repeat: no-repeat;
	background-position: 2px center;
	display: inline-block;
}

.gua {
	background-image: url('../img/assets/favicon_guardian.png');
}

.nyt {
	background-image: url('../img/assets/favicon_nytimes.png');
}

.date {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background-color: rgba(124, 124, 124, 0.48);
	padding: 3px 10px;
	font-size: 12px;
	color: #ECECEC;
	text-shadow: -1px 1px #929292;
}

.show-more {
	clear: both;
	background: #F8F8F8;
	padding: 5px 10px;
	border: 1px solid #E7E7E7;
	color: rgb(82, 82, 82);
	text-align: center;
	font-weight: 200;
	cursor: pointer;
	font-size: 13px;
}

/* fixed submenu */

.fixed-menu-wrapper {
	height: 35px;
	width: 100%;
	z-index: 1000;
	background: #FFF;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.fixed-menu-wrapper .fixed {
	position: fixed;
}

.inner-fixed-menu {
	padding: 3px 20px 0;
}

.search-input {
	padding: 5px;
	width: 190px;
	font-size: .8em;
	font-family: "helvetica Neue";
	font-weight: 200;
	border: 1px solid #E0E0E0;
	border-top-color: #E6E6E6;
	border-right: 1px solid #C7C7C7;
	border-bottom: 1px solid #C7C7C7;
}

.search-wrapper {
	float: left;
	margin-right: 23px;
}

.total-graphics {
	font-family: 'Lucida Sans', Arial, sans-serif;
	line-height: 33px;
	font-size: 12px;
	float:left;
}

.scroll-to-top {
	float: right;
	padding-top: 9px;
	font-size: 14px;
	color: #6F6F6F;
	cursor: pointer;
	transition:color 0.4s ease;
}

.scroll-to-top:hover {
	color: #A0A0A0;
}

.scroll-to-top span {
	color: #C0C0C0;
}

/* filter */

.column-left {
	width: 192px;
	float: left;
}

.filter-wrapper h2 {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0 0 5px;
}

.filter-wrapper li {
	font-size: 12px;
	padding: 4px 5px;
	cursor: pointer;
}

.filter-wrapper {
	margin-bottom: 15px;
}

.filter-wrapper li:hover {
	background-color: rgb(238, 238, 238);
}

.filter-wrapper li.active {
	background-color: #D3D3D3;
}

.facet.active .remove, .filter-label .remove {
	background-image: url('../img/assets/filter_remove.png');
	width: 12px;
	height: 12px;
	display: inline-block;
	float: right;
	right: 5px;
	background-position: 0px 2px;
	background-repeat: no-repeat;
}

.filter-label {
	float: left;
	font-size: 12px;
	background: #EBEBEB;
	padding: 0;
	margin: 6px 8px;
	padding: 4px 6px;
	border-radius: 3px;
	cursor: pointer;
}

.filter-label .name {
	float:left;
}

.filter-label .remove {
	margin-left: 8px;
}

/* FOOTER */

footer {
	background:#000;
	height:10px;
}